.home-bg{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center -38vh;
    background-repeat: no-repeat;
    min-height: calc(100vh - 4.6rem);
    overflow: hidden !important;
    @media (max-width:640px){
        background-position: center;
        min-height: calc(100vh - 4rem);
    }
    
}
